
<div class="container-fluid contGeneral">
    
    <div class="card text-start">
        <img class="card-img-top" src="../../assets/calafate.jpg" alt="Title">
        <div class="card-body"><h3>El Calafate</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/caviahue.jpg" alt="Title">
        <div class="card-body"><h3>Caviahue</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/chalten.jpg" alt="Title">
        <div class="card-body"><h3>El Chaltén</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/epecuen.jpg" alt="Title">
        <div class="card-body"><h3>Epecuén</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/sanmaretin.jpg" alt="Title">
        <div class="card-body"><h3>San Martín de los Andes</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/sierra.jpg" alt="Title">
        <div class="card-body"><h3>Sierra de la ventana</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/piramides.jpg" alt="Title">
        <div class="card-body"><h3>Puerto Pirámides</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/tombo.jpg" alt="Title">
        <div class="card-body"><h3>Punta Tombo</h3></div>
    </div>

    <div class="card text-start">
        <img class="card-img-top" src="../../assets/madryn.jpg" alt="Title">
        <div class="card-body"><h3>Puerto Madryn</h3></div>
    </div>

</div>



