nav { background-color: #EEE; padding: 20px;  margin-top: 12px;}
nav a { text-decoration: none; font-size: 18px; line-height: 28px; border-bottom: 1px solid #CCC; color: #333; padding: 8px 0px; padding-left: 10px;}
nav a:hover { background-color: #FFF;}